<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin service</title>
</head>
<body>
<h1>ADMIN PANEL</h1>

<p>+++++++++++++++++++++</p>

<ul>
    <li><a href="#" th:href="@{/sklep}">Sklep</a></li>
    <li><a href="#" th:href="@{/admin/add-product-form}">Add product</a></li>
    <li><a href="#" th:href="@{/admin/remove-product-list}">Remove product</a></li>
    <li><a href="#" th:href="@{/admin/edit-product-list}">Edit product</a></li>
</ul>

</body>
</html>