<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>EDIT PRODUCTS</h1>
<header>
    <a href="#" th:href="@{/admin/}">Administration site</a>
</header>

    <tr th:each="product: ${products}">
        <p>------------------------</p>
        <form th:action="@{/admin/edit-product}" th:object="${product}" method="post">
            <p>Name: <textarea type="text" th:text="${product.getName()}" name="name" rows="1"></textarea></p>
            <p>Description: <textarea type="text" th:text="${product.getDescription()}" name="desc" rows="1"></textarea></p>
            <p>Price: <input type="number" th:value="${product.getPrice()}" step="0.01" name="price" ></p>
            <input type="hidden" name="index" th:value="${productStat.index}"/>
            <p>
                <select name="product_category">
                    <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                </select>
            <p><button type=“submit” >Save changes</button></p>
        </form>

    </tr>
</body>
</html>