<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>REMOVE PRODUCTS</h1>
<header>
    <a href="#" th:href="@{/admin/}">Administration site</a>
</header>

    <tr th:each="product: ${products}">
        <p>------------------------</p>
        <td th:text="${product.getName()}"/><br>
        <td th:text="${product.getDescription()}"/>
        <td th:text="${product.getPrice()}"/>
        <p>Product index:
        <td th:text="${productStat.index}"/></p>

        <form th:action="@{/admin/remove-product}" th:method="post" >
            <input type="hidden" name="index" th:value="${productStat.index}"/>
            <button type="submit" th:text="${'Delete ' + product.getName()}"></button>
        </form>

    </tr>
</body>
</html>